* {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  background-image: url(bg.jpg);
  padding: 20px;
}

header {
  color: white;
  text-align: center;
  margin: 2rem;
}

article {
  background-color: #286cd373;

  padding: 5px 20px;
  border-radius: 5px;
  margin: 5px;
}

.section {
  color: azure;
  margin: 20px 0px;
}
