:root {
  --ccolor1: #3a4f92;
  --ccolor: #0b7ec0;
  --bgcolor: #f4fbff;
  --bgwhite: #fff;
  --black: #062f5a;
  --fblack: #000;
  --fsoft: #798089;
}

body {
  background-color: #fff;
}

body,
html {
  height: 100%;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "poppins", sans-serif;
}

/* general */
.trans-box {
  backdrop-filter: blur(5px);
}

.cc-font {
  font-family: "alkatra", sans-serif;
}

.cc-color {
  color: var(--ccolor);
}

.cc-bg {
  background-color: var(--ccolor);
}

.mg-0 {
  margin: 0;
}

.pd-0 {
  padding: 0;
}

.shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* format */
.dflex {
  display: flex;
}

.dblock {
  display: block;
}

.dnone {
  display: none;
}

.t-algn-r {
  text-align: right;
}

.justify-c-r {
  justify-content: right;
}

.justify-c-l {
  justify-content: left;
}

.full-height {
  height: 100%;
}

/* navbar */

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: var(--ccolor);
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 25px 5%;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar a {
  color: white;
}

.navigasi {
  display: flex;
  justify-content: space-between;
}

.navigasi a {
  font-weight: 400;
}

.navigasi a::after {
  content: "";
  display: block;
  padding-bottom: 0rem;
  border-bottom: 0.1rem solid var(--bgcolor);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navigasi a:hover {
  color: white;
}

.navigasi a:hover::after {
  transform: scaleX(0.8);
}

.navbar .cc-font {
  font-size: 22px;
}

.navbar > a {
  padding: 10px 0;
}

.hidden {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 25% !important;
  height: auto;
  flex-direction: column;
  background-color: var(--ccolor);
  margin-top: 57px;
  padding: 10px 0;
  text-align: center;
  align-content: space-around;
  /* box-shadow: -3px 3px 8px var(--black); */
}

.hidden a {
  color: #fff;
  padding: 5px 0;
}

.show {
  display: flex;
}

/* hamburger */

.menu-togle {
  float: none;
  display: none;
  flex-direction: column;
  height: 24px;
  justify-content: space-between;
  cursor: pointer;
}

.menu-togle button {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
  cursor: pointer;
}

.menu-togle span {
  display: block;
  width: 24px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
}

/* header */

/* header {
  background-size: 100%;
  background-image: url("../img/mainheader.jpg");
} */

.header {
  background-image: url("../img/backgroundheader.png");
  background-position: center;
  background-size: cover;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-content {
  width: 500px;
}

.header-content .header-tittle {
  color: var(--fblack);
}

.header-content .header-tittle span {
  color: var(--ccolor);
}

.header-content .header-description {
  color: var(--fsoft);
  font-size: 17px;
}

.header-content .header-btn a {
  color: white;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #0b7ec0;
  margin-top: 20px;
}

.header-content .header-btn a:hover {
  background-color: var(--ccolor1);
}

.header-img {
  display: block;
  width: 500px;
}

.header-img img {
  width: 100%;
  height: auto;
}

/* artikel */

.introduction {
  padding: 50px 10%;
  background-color: var(--bgcolor);
}

.about {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.hidden-about-img {
  max-width: 40%;
  width: 500px;
  height: 200px;
  margin: 20px 0 20px 0;
  background-image: url(../teachers.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.about .about-content {
  max-width: 40%;
  padding: 20px 0 20px 0;
}

.about-img {
  max-width: 40%;
  width: 500px;
  height: 200px;
  margin: 20px 0 20px 0;
  background-image: url(../teachers.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

/* .about .about-img > img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
} */

/* style fitur */
.fitur {
  padding: 50px 20px;
}

.fitur .fitur-box h1 {
  text-align: center;
}

.fitur .fitur-box .fitur-wrap {
  display: flex;
}

.fitur .fitur-box .fitur-wrap .fitur-img {
  flex: 50%;
  display: flex;
  margin: 50px;
}

.fitur .fitur-box .fitur-wrap .fitur-img img {
  height: 200px;
}

.fitur .fitur-box .fitur-wrap .fitur-text {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}

/* style tentor */

.tentor {
  background-color: var(--bgcolor);
  background-image: url(../img/verbackground.png);
  background-size: cover;
  background-position: center;
  padding: 100px 5%;
}

.judul-tentor {
  text-align: center;
  font-size: 28px;
}

.video-tentor {
  text-align: center;
  margin-bottom: 3rem;
}

.tentor .video-tentor > iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.wrap-tentor {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.kotak-tentor {
  padding: 10px;
  flex: 20%;
  height: 35rem;
  background-color: #0b7ec0d2;
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

.kotak-tentor .img-tentor {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: 3px solid #63afdb;
  outline-offset: 3px;
}

.kotak-tentor .img-tentor img {
  width: 100%;
  border-radius: 50%;
}

.kotak-tentor > h3 {
  margin: 1rem 0 0.5rem 0;
  text-align: center;
  font-weight: 600;
}

.kotak-tentor > p {
  padding: 0;
  margin: 0;
  text-align: center;
  font-style: italic;
}

.kotak-tentor > ul {
  margin: 0 2rem;
  color: #1a1a1a;
}

/* harga */
.harga {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.harga .harga-box {
  text-align: center;
  width: 70%;
}

.harga .harga-box h3 {
  margin: 20px;
}

/* pendaftaran */
.pendaftaran {
  display: flex;
  padding: 75px 5%;
  justify-content: center;
  align-items: center;
  background-color: var(--bgcolor);
}

.pendaftaran-box {
  text-align: center;
  width: 50%;
  justify-content: center;
}

.pendaftaran-box .pendaftaran-form {
  display: flex;
  flex-direction: column;
  margin: 15px;
  justify-content: center;
}
.pendaftaran-box .pendaftaran-form p {
  text-align: left;
}

.pendaftaran-box .pendaftaran-form input {
  padding: 10px 18px;
  border-radius: 5px;
  font-size: 17px;
  border: solid var(--ccolor) 2px;
}
.pendaftaran-box .pendaftaran-form p {
  margin-left: 2px;
}

.pendaftaran-button {
  display: flex;
  justify-content: center;
}

.pendaftaran-box .pendaftaran-button button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #0b7ec0;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
  margin: 20px 10px;
}

.pendaftaran-box .pendaftaran-button button:hover {
  background-color: var(--ccolor1);
  cursor: pointer;
}

.pendaftaran-box .pendaftaran-button a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #25d366;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
  margin: 20px 10px;
}

.pendaftaran-box .pendaftaran-button a:hover {
  background-color: #128c7e;
  cursor: pointer;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  padding: 30px 10%;
  background-image: url("../img/backgroundbnw.png");
  background-position: center;
  background-size: cover;
  background-color: var(--black);
  color: var(--bgwhite);
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer .footer-content .footer-content-wrap {
  width: 25%;
}

.footer .footer-content .footer-content-wrap a {
  color: var(--bgwhite);
}

.footer .copyright {
  display: flex;
  border-top: var(--bgwhite) 1px solid;
  justify-content: space-between;
}

.footer .copyright .copyright-content a {
  color: var(--bgwhite);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 625px) {
  .menu-togle {
    display: flex;
  }

  .muncul {
    display: none;
  }

  .header {
    flex-direction: column;
    padding: 50px 0;
  }

  .header-img {
    width: 75%;
    margin-bottom: 20px;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .header-content h1 {
    width: 80%;
  }

  .header-content p {
    width: 75%;
    font-size: 15px;
  }

  .header-content .header-description {
    font-size: 15px;
  }

  .introduction .about {
    flex-direction: column;
  }

  .introduction .about .hidden-about-img {
    max-width: 90%;
    max-width: 90%;
  }

  .introduction .about .about-content {
    max-width: 90%;
    text-align: center;
  }

  .introduction .about .about-img {
    display: none;
    max-width: 90%;
  }

  .fitur .fitur-box .fitur-wrap .fitur-huge {
    display: none;
  }

  .fitur .fitur-box .fitur-wrap .fitur-img img {
    height: 150px;
  }

  .fitur .fitur-box .fitur-wrap {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  .fitur .fitur-box .fitur-wrap .fitur-img {
    margin: 20px;
  }

  .fitur .fitur-box .fitur-wrap .fitur-text {
    margin: 20px;
  }

  .kotak-tentor {
    font-size: 0.8rem;
    flex: 80%;
  }

  .pendaftaran-box {
    width: 85%;
  }

  .pendaftaran-box .pendaftaran-form input {
    padding: 7px 15px;
    font-size: 14px;
  }

  .footer .footer-content {
    flex-direction: column;
  }

  .footer .footer-content .footer-content-wrap {
    width: 70%;
    margin-bottom: 8px;
  }

  .footer .copyright {
    flex-direction: column;
  }

  .footer .copyright .copyright-content {
    margin-bottom: 8px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 626px) and (max-width: 991px) {
  .navbar .navigasi {
    width: 60%;
  }

  .navbar a {
    font-size: 0.95rem;
  }

  .header-content .header-description {
    font-size: 16px;
  }

  .introduction .about {
    flex-direction: column;
  }

  .introduction .about .hidden-about-img {
    max-width: 90%;
  }

  .introduction .about .about-content {
    max-width: 90%;
    text-align: center;
  }

  .introduction .about .about-img {
    display: none;
    max-width: 90%;
  }

  .fitur .fitur-box .fitur-wrap .fitur-med {
    display: none;
  }

  .fitur .fitur-box .fitur-wrap .fitur-img img {
    max-width: 150px;
    height: auto;
  }

  .fitur .fitur-box .fitur-wrap .fitur-img {
    flex: 30%;
    margin: 20px;
  }

  .fitur .fitur-box .fitur-wrap .fitur-text {
    flex: 70%;
    margin: 20px;
  }

  .kotak-tentor {
    padding: 10px;
    flex: 30%;
    height: 35rem;
  }

  .pendaftaran-box {
    width: 70%;
  }

  .footer .footer-content {
    font-size: 0.8rem;
  }

  .footer .copyright {
    font-size: 0.8rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--ccolor);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--ccolor1);
  }

  .navigasi {
    width: 45%;
  }

  .introduction .about .hidden-about-img {
    display: none;
  }

  .fitur .fitur-box .fitur-wrap .fitur-med {
    display: none;
  }
}
